@media only screen and (max-width: 450px) {
    .temp {
        width: 100%;
        margin-top: 2rem;
        min-width: 280px;
    }


}

@media only screen and (max-width: 1000px) and (min-width: 450px) {
    .temp2 {
        width: 450px;
        margin-top: 2rem;
        border-radius: 4px;
    }


}

@media only screen and (min-width: 1000px) {
    .temp3 {
        width: 300px;
        min-width: 90%;
        margin-top: 2rem;
        border-radius: 4px;
    }


}